<head>
  <link href="../styles.css" rel="stylesheet" />
</head>

<form action="/post/create" method="post">
  <label for="title">Title</label>
  <input id="title" name="title" required />

  <label for="content">Content</label>
  <textarea id="content" name="content" minlength="15"></textarea>

  <button>Sign In</button>
</form>
