<head>
  <link href="../styles.css" rel="stylesheet" />
</head>

<form class="sign-up" action="/auth/sign-up" method="post">
  <label for="firstName">First Name</label>
  <input id="firstName" name="firstName" />

  <label for="lastName">Last Name</label>
  <input id="lastName" name="lastName" />

  <label for="username">Email</label>
  <input id="username" name="username" type="email" />

  <label for="password">Password</label>
  <input id="password" name="password" type="password" />

  <label for="confirmPassword">Password</label>
  <input id="confirmPassword" name="confirmPassword" type="password" />

  <button>Sign Up</button>
</form>
